[submodule "Palladio-Build-CodingConventions"]
	path = Palladio-Build-CodingConventions
	url = https://github.com/PalladioSimulator/Palladio-Build-CodingConventions
[submodule "CIPM-CIPM"]
	path = CIPM-Pipeline
	url = https://github.com/CIPM-tools/CIPM-Pipeline
	branch = eclipse-bridge
[submodule "commit-based-cipm/bundles/Vitruv"]
	path = Vitruv
	url = https://github.com/CIPM-tools/Vitruv-Domains-ComponentBasedSystems
	branch = integrated_vitruv
[submodule "Palladio-ReverseEngineering-SoMoX-JaMoPP"]
	path = Palladio-ReverseEngineering-SoMoX-JaMoPP
	url = https://github.com/MDSD-Tools/SourceCodeModelExtractor-JaMoPP
