[submodule "CIPM-Pipeline"]
	path = CIPM-Pipeline
	url = https://git.scc.kit.edu/luaCIPM/CIPM-Pipeline
	branch = vitruv3
[submodule "Palladio-Build-CodingConventions"]
	path = Palladio-Build-CodingConventions
	url = https://github.com/PalladioSimulator/Palladio-Build-CodingConventions
[submodule "Palladio-Supporting-EclipseJavaDevelopmentTools"]
	path = Palladio-Supporting-EclipseJavaDevelopmentTools
	url = https://github.com/PalladioSimulator/Palladio-Supporting-EclipseJavaDevelopmentTools
[submodule "Palladio-ReverseEngineering-SoMoX-JaMoPP"]
	path = Palladio-ReverseEngineering-SoMoX-JaMoPP
	url = https://github.com/PalladioSimulator/Palladio-ReverseEngineering-SoMoX-JaMoPP
[submodule "commit-based-cipm/bundles/si/cipm.consistency.vsum.test/ciTestRepos/caseStudy1"]
	path = commit-based-cipm/bundles/si/cipm.consistency.vsum.test/ciTestRepos/caseStudy1
	url = https://git.scc.kit.edu/luaCIPM/caseStudy1
[submodule "commit-based-cipm/bundles/si/cipm.consistency.vsum.test/ciTestRepos/minimalCaseStudy"]
	path = commit-based-cipm/bundles/si/cipm.consistency.vsum.test/ciTestRepos/minimalCaseStudy
	url = https://git.scc.kit.edu/luaCIPM/MinimalCaseStudy
[submodule "luaXtext"]
	path = luaXtext
	url = https://git.scc.kit.edu/luaCIPM/luaXtext
	branch = dev
