/AddedMethodEventRoutine.java
/ChangedMethodTypeRoutine.java
/CreateOperationSignatureRoutine.java
/CreatedMethodParameterEventRoutine.java
/MethodParameterNameChangedEventRoutine.java
/RemovedFieldEventRoutine.java
/RemovedMethodEventRoutine.java
/RenamedMethodRoutine.java
/RoutinesFacade.java
/ChangedFieldTypeEventRoutine.java
/ChangedMethodModifierEventRoutine.java
/CreateRequiredRoleRoutine.java
/RemoveRequiredRoleAndCorrespondenceRoutine.java
