<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated im -->
      <package
            uri="http://www.example.org/im"
            class="tools.vitruv.models.im.ImPackage"
            genModel="model/im.genmodel"/>
   </extension>

</plugin>
